 <div class="details">
 <p >USER PAGE<p> 

 <label>
  Name:
  <input class="name" type="text" [formControl]="Name">
</label>
<br>
<label>
  Username:
  <input class="username" type="text" [formControl]="Username">
</label>
<br>
<label>
  Age:
  <input class="age" type="text" [formControl]="Age">
</label>
<br>
<label>
  Salary:
  <input class="salary" type="text" [formControl]="Salary">
</label>
<br>
<label>
  Companyname:
  <input class="companyname" type="text" [formControl]="Companyname">
</label>
<br>
<label>
  
  Phone:
  <input class="phone" type="text" [formControl]="Phone">
</label>
<br>
<button>submit</button>
<button class="cancel">cancel</button>
</div> 




